/*global start*/
@import url("https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varta:wght@500&display=swap");
li {
  list-style: none;
}

a,
button {
  font-family: "Varta", sans-serif;
}

p {
  font-size: 17px;
  font-weight: 300;
  line-height: 25px;
  color: #AAAAAA;
  font-family: "Varta", sans-serif;
}
@media screen and (max-width: 575px) {
  p {
    text-align: justify;
  }
}

h1 {
  font-size: 60px;
  font-weight: 500;
  line-height: 75px;
  color: white;
}
@media screen and (max-width: 575px) {
  h1 {
    font-size: 40px;
  }
}

h2 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  color: #004471;
}
@media screen and (max-width: 1024px) {
  h2 {
    font-size: 29px;
    line-height: 33px;
  }
}

* {
  box-sizing: border-box;
}

.btn {
  background-color: #004471;
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 11px 44px;
  display: inline-block;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  border: 1px solid;
}
.btn:hover {
  background-color: #B5F201;
  border: 1px solid #B5F201;
  color: #fff;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 1.6rem;
  font-family: "Khand", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-family: "Varta", sans-serif;
  line-height: normal;
}

a:focus {
  color: inherit;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

/*global end*/
/*header start*/
header.site-header {
  font-size: 18px;
  padding: 14px 0;
  font-weight: 700;
  text-transform: capitalize;
  color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  transition: 0.3s;
}

header.site-header.sticky {
  background: rgba(0, 68, 113, 0.6784313725);
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  padding: 10px 0;
  position: fixed;
}

.site-header .site-nav ul li a.active {
  color: #B5F201;
}

.site-logo img {
  width: 100%;
  max-width: 160px;
}

.site-nav a {
  padding: 8px 12px !important;
  display: inline-block;
  font-family: "Khand", sans-serif;
  color: white;
  font-weight: 500;
}
.site-nav a:hover {
  color: #B5F201;
}

.site-header {
  padding: 10px 0;
}

.site-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-nav ul {
  display: flex;
  align-items: center;
}

.closed-menu {
  display: none;
}

.menu-toggle {
  display: none !important;
}

/*header end*/
/*banner-css-start*/
.banner-section {
  position: relative;
  height: 550px;
  background-image: url(../images/homebanner.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  object-fit: cover;
  margin-top: 0;
  position: relative;
  z-index: 1;
}
.banner-section::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.55);
}

.banner__text {
  color: white;
  font-size: 55px;
  line-height: normal;
  z-index: 2;
  text-align: center;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

/*banner-css-end*/
/*homemain-css-start*/
.homemain {
  padding: 50px 0;
}
.homemain-text {
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.homemain-picture img {
  width: 100%;
  max-width: 450px;
  height: 450px;
  object-fit: cover;
}
.homemain-text p {
  margin-top: 25px;
}

/*homemain-css-end*/
/*tilesformat-css-end*/
.casino-hotels-wrapper {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: #fff;
  margin-bottom: 30px;
  border-radius: 6px;
  transition: all 0.3s;
  padding: 20px;
}

.casino-hotels-wrapper .row {
  align-items: center;
}

.casino-hotels-wrapper .casino-btn {
  text-align: center;
}

.casino-hotels-wrapper .casino-btn a {
  background-color: #004471;
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 11px 44px;
  display: inline-block;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  border: 1px solid;
}

.casino-hotels-wrapper .casino-text {
  text-align: center;
}

.casino-hotels-wrapper .casino-btn a:hover {
  background: #B5F201;
  border: 1px solid #B5F201;
  color: white;
}

.casino-hotels-wrapper .casino-text h3 {
  color: #004471;
  font-size: 30px;
}

.casino-hotels-wrapper .casino-text p {
  font-size: 17px;
  color: #AAAAAA;
}

.casino-hotels-wrapper .casino-img figure img {
  height: 216px;
  object-fit: cover;
  border-radius: 6px;
}

.tilesformat {
  padding-bottom: 80px;
}

/*tilesformat-css-end*/
/*choose-css-start*/
.choose-main {
  background-image: url(../images/choosebg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.choose-head {
  padding: 50px 0;
}
.choose-head h2 {
  color: #004471;
}

.col-lg-6.col-md-12.col-sm-12.space {
  margin-bottom: 20px;
}

.item {
  background: #004471;
  padding: 40px 20px;
  transition: 0.5s;
  position: relative;
  height: 100%;
  z-index: 1;
  margin-bottom: 30px;
  line-height: 1;
  text-align: center;
  width: 100%;
}
.item img {
  max-width: 64px;
  transition: 0.3s;
}
.item h3 {
  font-size: 30px;
  color: white;
  margin: 10px 0;
}
.item h3:hover {
  color: #B5F201;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.item p {
  margin: 0 auto;
  color: #AAAAAA;
  max-width: 80%;
  font-size: 16px;
}

.item span {
  font-size: 45px;
  color: #004471;
  line-height: 1;
  margin-bottom: 10px;
  display: inline-block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.item:hover span {
  color: #0C0B0B;
}

.item .shape {
  position: absolute;
  opacity: 0.03;
  z-index: -1;
  bottom: 15px;
  left: 120px;
}

.item .shape span {
  font-size: 140px;
  color: #0C0B0B;
}

.item:hover img {
  transform: rotateY(180deg);
}

/*choose-css-end*/
/*footer-css-start*/
.footer {
  background-color: #004471;
  padding: 50px 0;
}
.footer-links {
  text-align: center;
}
.footer-links ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
.footer-logo {
  max-width: 160px;
  margin: 0 auto 20px;
}
.footer-links h2 {
  color: white;
}
.footer-links a {
  color: white;
}
.footer-links a:hover {
  color: #B5F201;
}
.footer-adresse h2 {
  color: white;
}
.footer-adresse p {
  color: white;
}
.footer-mails a {
  color: white;
}
.footer-mails {
  display: flex;
  flex-direction: column;
}

.mails-names {
  gap: 16px;
  display: flex;
  align-items: end;
}

.social-signals {
  margin-top: 25px;
  text-align: center;
}
.social-signals i {
  color: white;
  border-radius: 30px;
  font-size: 18px;
  margin: 0 10px;
  border: 1px solid white;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 36px;
  transition: 0.3s all;
}
.social-signals i:hover {
  color: #B5F201;
  transform: translateY(-10px);
}

.footer_bottom {
  border-top: 1px solid #fff;
  padding: 10px;
  margin: 30px 0;
}
.footer_bottom p {
  text-align: center;
}
.footer_bottom p a {
  color: #fff;
}
.footer_bottom p a:hover {
  color: #B5F201;
}

/*footer-css-end*/
/*cookie start*/
.cookie-alert {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  margin: 0 !important;
  z-index: 999;
  opacity: 0;
  transform: translateY(100%);
  transition: all 500ms ease-out;
  left: 0;
}

.cookie-alert.show {
  opacity: 1;
  transform: translateY(0%);
  transition-delay: 1000ms;
}

.card-body h4 {
  color: #004471;
  font-size: 25px;
}

a.btn.btn-primary.accept-cookies {
  background: #004471;
  padding: 6px 22px;
  font-size: 20px;
  border: 1px solid #004471;
}
a.btn.btn-primary.accept-cookies:hover {
  background-color: transparent;
  border: 1px solid #004471;
  color: #004471;
}

/*cookie end*/
/*privacy-css-end*/
.privacy {
  background-image: url(../images/privacybanner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  position: relative;
}
.privacy::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.55);
  height: 450px;
}

.content-wrap h3 {
  font-size: 25px;
  color: #004471;
}
.content-wrap p {
  font-size: 16px;
  font-weight: 400;
  color: #0C0B0B;
}
.content-wrap li {
  font-family: "Varta";
}

.privacy-policy {
  padding: 50px 0;
}

/*privacy-css-end*/
/*terms-css-start*/
.terms {
  background-image: url(../images/termsbanner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  position: relative;
}
.terms::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.55);
  height: 450px;
}

.termstext {
  padding: 50px 0;
}

/*terms-css-end*/
/*About-css-start*/
.about {
  background-image: url(../images/Aboutbanner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  position: relative;
}
.about::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.55);
  height: 450px;
}

.about-text {
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -118px;
  width: calc(100% + 118px);
  margin-top: 70px;
}

.about-picture img {
  width: 100%;
  max-width: 100%;
  height: 450px;
  object-fit: cover;
}

.joins {
  text-align: center;
  max-width: 50%;
  margin: 0 auto;
}

.jointext.disclaimer {
  padding-bottom: 40px;
}

/*contact-css-start*/
.contact__content span {
  color: #004471;
  font-size: 18px;
}

.about_us_content {
  background-color: white;
  padding: 2rem;
  width: 100%;
  max-width: 50%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 2rem;
}

.input-control {
  display: block;
  width: 100%;
  height: 4rem;
  border: 1px solid #004471;
  padding: 2rem 2rem;
  background: transparent;
  color: #0C0B0B;
}

textarea.input-control {
  resize: none;
  height: auto;
}

.form-group .submit-btn {
  background: transparent;
  border: 1px solid #004471;
  transition: all 0.2s linear;
  display: inline-block;
  padding: 0.8rem 4rem;
  color: white;
  text-transform: capitalize;
}
.form-group .submit-btn:hover {
  background-color: #004471;
}

.input-control:focus-visible {
  outline: none;
}

.form-group label {
  display: inline-block;
  padding-bottom: 5px;
  color: #004471;
  transition: all 0.2s linear;
  text-transform: capitalize;
}

button.submit-btn {
  color: #004471 !important;
}
button.submit-btn:hover {
  background-color: #004471;
  color: white !important;
}

/*contact-css-end*/
/*About-css-end*/
/*Hotels-css-start*/
.hotels {
  background-image: url(../images/hotelsbanner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  position: relative;
}
.hotels::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.55);
  height: 450px;
}

.hotelstext {
  padding: 50px 0;
}

.casino-hotels-wrapper {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: #fff;
  margin-bottom: 30px;
  border-radius: 6px;
  transition: all 0.3s;
  padding: 20px;
}

.casino-hotels-wrapper .row {
  align-items: center;
}

.casino-hotels-wrapper .casino-btn {
  text-align: center;
}

.casino-hotels-wrapper .casino-text {
  text-align: center;
}

.casino-hotels-wrapper .casino-text h3 {
  color: #004471;
  font-size: 26px;
}

.casino-hotels-wrapper .casino-text p {
  font-size: 16px;
}

.casino-hotels-wrapper .casino-img figure img {
  height: 216px;
  object-fit: cover;
  border-radius: 6px;
}

.casino {
  padding-bottom: 80px;
}

/*Hotels-css-end*/
/*Casino-css-start*/
.casinobanner {
  background-image: url(../images/casinobanner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  position: relative;
}
.casinobanner::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.55);
  height: 450px;
}

.attractioncard {
  padding: 30px 0;
}

.equal {
  display: -webkit-flex;
}

.homecard {
  padding: 50px 0;
}

.homecard.cuisine {
  padding: 20px 0 0 0;
}

.end__content {
  padding: 50px 0;
}
.end__content p {
  font-size: 16px;
  line-height: 25px;
  color: #0C0B0B;
  margin-top: 10px;
}
.end__content h3 {
  font-size: 20px;
  line-height: 32px;
}

.homemain__part h3 {
  margin-bottom: 10px;
  color: #004471;
  font-size: 26px;
}
.homemain__part p {
  font-size: 16px;
  line-height: 25px;
  position: relative;
}
.homemain__part p::before {
  position: absolute;
  content: none;
  inset: 0;
  background-color: #004471;
  height: 7px;
  width: 7px;
  border-radius: 10px;
  top: 10px;
  left: -15px;
}

.homemain__picture img {
  height: 400px;
  object-fit: cover;
  max-width: 560px;
  border-radius: 8px;
  width: 100%;
  transition: all 0.3s linear;
}
.homemain__part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

/*Casino-css-end*/
/*Cuisine-css-start*/
.cuisine {
  background-image: url(../images/cuisinebanner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  position: relative;
}
.cuisine::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.55);
  height: 450px;
}

.casino-btn a {
  background-color: #004471;
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 11px 44px;
  display: inline-block;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  border: 1px solid;
}
.casino-btn a:hover {
  background-color: #B5F201;
  border: 1px solid #B5F201;
}

.col-lg-4.col-md-6.col-sm-12.space {
  margin-top: 30px;
}

.slovernia__card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  height: 100%;
  transition: all 0.3s;
}

.slovernia__destinations {
  height: 100%;
}

.slovernia__destinations img {
  width: 100%;
  height: 303px;
  object-fit: cover;
}

.Slovenia__content {
  padding: 20px 20px;
}
.Slovenia__content h3 {
  color: #004471;
  font-size: 23px;
  font-weight: 600;
}
.Slovenia__content p {
  font-size: 16px;
  line-height: 23px;
  text-align: justify;
}

/*Cuisine-css-end*/
/*adventure-css-start*/
.adventure {
  background-image: url(../images/adventurebanner.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  position: relative;
}
.adventure::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.55);
  height: 450px;
}

.adventurous_main .row {
  row-gap: 50px;
  align-items: center;
}

.adventurous_left {
  overflow: hidden;
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}
.adventurous_left a {
  height: 100%;
  width: 100%;
  display: block;
}

img.img-fluid.boutiquepic {
  border-radius: 0;
}

.adventurous_left img {
  border-radius: 6px;
  transition: all 0.3s ease;
  width: 100%;
  object-fit: cover;
  object-position: top;
  height: 350px;
}

.adventurous_right.adventurous_flex.adventurous_space.shadow {
  background: rgba(255, 255, 255, 0.9);
  border: 3px solid #fff;
  border-radius: 4px;
  z-index: 9;
  position: relative;
  margin: 0;
  width: calc(100% + 150px);
  margin-left: -150px;
}

.adventurous_space {
  padding-left: 44px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.adventurous_flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.adventurous_right h3 a {
  padding-bottom: 18px;
  display: block;
  color: #031a29;
  font-weight: 500;
  font-size: 24px;
}

.adventurous_space p {
  margin-bottom: 25px;
  font-size: 17px;
  line-height: 26PX;
}

.adventurous_main {
  padding: 0 0 50px 0;
}

/*adventure-css-end*/
/*entertainment-css-start*/
.entertainment {
  background-image: url(../images/entertainmentbanner.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  position: relative;
}
.entertainment::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.55);
  height: 450px;
}

/*entertainment-css-end*/


/*# sourceMappingURL=style.css.map */
