@import './variables';
@import './mixins';

li {
    list-style: none;
}

a,
button {
    font-family: 'Varta', sans-serif;
}

p {
    font-size: 17px;
    font-weight: 300;
    line-height: 25px;
    color: $clr-grey;
    font-family: 'Varta', sans-serif;

    @include mq(sm) {
        text-align: justify;
    }
}


h1 {
    font-size: 60px;
    font-weight: 500;
    line-height: 75px;
    color: $clr-white;
    @include mq(sm) {
        font-size: 40px;
    }
}

h2 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    color: $clr-blue;

    @include mq(xl) {
        font-size: 29px;
        line-height: 33px;
    }
}