/*global start*/
@import 'mixins';
@import 'variables';
@import 'typography';

@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varta:wght@500&display=swap');

* {
    box-sizing: border-box;
}

.btn {
    background-color: #004471;
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 11px 44px;
    display: inline-block;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    border: 1px solid;

    &:hover {
        background-color: $clr-parrot;
        border: 1px solid $clr-parrot;
    }
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 1.6rem;
    font-family: 'Khand', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    font-family: 'Varta', sans-serif;
    line-height: normal;
}

a:focus {
    color: inherit;
}

html {
    font-size: 62.5%;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
}

/*global end*/

/*header start*/
header.site-header {
    font-size: 18px;
    padding: 14px 0;
    font-weight: 700;
    text-transform: capitalize;
    color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    width: 100%;
    transition: .3s;
}

header.site-header.sticky {
    background: #004471ad;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    padding: 10px 0;
    position: fixed;
}

.site-header .site-nav ul li a.active {
    color: $clr-parrot;
}

.site-logo img {
    width: 100%;
    max-width: 160px;
}

.site-nav a {
    padding: 8px 12px !important;
    display: inline-block;
    font-family: 'Khand', sans-serif;
    color: $clr-white;
    font-weight: 500;

    &:hover {
        color: $clr-parrot;
    }
}

.site-header {
    padding: 10px 0;
}

.site-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-nav ul {
    display: flex;
    align-items: center;
}

.closed-menu {
    display: none;
}

.menu-toggle {
    display: none !important;
}



/*header end*/

/*banner-css-start*/
section.banner-section {
    position: relative;
    height: 550px;
    background-image: url(../images/homebanner.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    object-fit: cover;
    margin-top: 0;
    position: relative;
    z-index: 1;

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 55%);

    }
}

.banner__text {
    color: $clr-white;
    font-size: 55px;
    line-height: normal;
    z-index: 2;
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

/*banner-css-end*/

/*homemain-css-start*/
.homemain {
    padding: 50px 0;

    &-text {
        background: #fff;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

    }

    &-picture img {
        width: 100%;
        max-width: 450px;
        height: 450px;
        object-fit: cover;
    }

    &-text {
        p {
            margin-top: 25px;
        }
    }
}

/*homemain-css-end*/

/*tilesformat-css-end*/
.casino-hotels-wrapper {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: #fff;
    margin-bottom: 30px;
    border-radius: 6px;
    transition: all 0.3s;
    padding: 20px;
}

.casino-hotels-wrapper .row {
    align-items: center;
}

.casino-hotels-wrapper .casino-btn {
    text-align: center;
}

.casino-hotels-wrapper .casino-btn a {
    background-color: $clr-blue;
    text-decoration: none;
    color: $clr-white;
    font-size: 18px;
    padding: 11px 44px;
    display: inline-block;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    border: 1px solid;
}

.casino-hotels-wrapper .casino-text {
    text-align: center;
}

.casino-hotels-wrapper .casino-btn a:hover {
    background: $clr-parrot;
    border: 1px solid $clr-parrot;
    color: $clr-white;
}

.casino-hotels-wrapper .casino-text h3 {
    color: $clr-blue;
    font-size: 30px;
}

.casino-hotels-wrapper .casino-text p {
    font-size: 17px;
    color: $clr-grey;
}

.casino-hotels-wrapper .casino-img figure img {
    height: 216px;
    object-fit: cover;
    border-radius: 6px;
}

.tilesformat {
    padding-bottom: 80px;
}

/*tilesformat-css-end*/

/*choose-css-start*/
section.choose-main {
    background-image: url(../images/choosebg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.choose {
    &-head {
        padding: 50px 0;

        h2 {
            color: $clr-blue;
        }
    }
}

.item {
    background: $clr-blue;
    padding: 40px 20px;
    transition: 0.5s;
    position: relative;
    aspect-ratio: 1/0.6;
    z-index: 1;
    margin-bottom: 30px;
    line-height: 1;
    text-align: center;
    height: auto;
    width: 100%;

    img {
        max-width: 64px;
        transition: .3s;
    }

    h3 {
        font-size: 30px;
        color: $clr-white;
        margin: 10px 0;

        &:hover {
            color: $clr-parrot;
            -webkit-transition: .5s;
            transition: .5s;
        }
    }

    p {
        margin: 0 auto;
        color: $clr-grey;
        max-width: 80%;
        font-size: 16px;
    }
}

.item span {
    font-size: 45px;
    color: $clr-blue;
    line-height: 1;
    margin-bottom: 10px;
    display: inline-block;
    -webkit-transition: .5s;
    transition: .5s;
}

.item:hover span {
    color: $clr-black;
}

.item .shape {
    position: absolute;
    opacity: 0.03;
    z-index: -1;
    bottom: 15px;
    left: 120px;
}

.item .shape span {
    font-size: 140px;
    color: $clr-black;
}

.item:hover img {
    transform: rotateY(180deg);
}

/*choose-css-end*/

/*footer-css-start*/
.footer {
    background-color: $clr-blue;
    padding: 50px 0;

    &-logo {
        max-width: 160px;
    }

    &-links {
        h2 {
            color: $clr-white;
        }

        a {
            color: $clr-white;

            &:hover {
                color: $clr-parrot;
            }
        }
    }

    &-adresse {
        h2 {
            color: $clr-white;
        }

        p {
            color: $clr-white;
        }
    }

    &-mails {
        a {
            color: $clr-white;
        }
    }

    &-mails {
        display: flex;
        flex-direction: column;
    }
}

.mails-names {
    gap: 16px;
    display: flex;
    align-items: end;
}

.social-signals {
    margin-top: 25px;

    i {
        color: $clr-white;
        border-radius: 30px;
        font-size: 25px;
        margin: 0 10px;
        border: 1px solid $clr-white;
        height: 40px;
        width: 40px;
        text-align: center;
        line-height: 36px;
        transition: .3s all;

        &:hover {
            color: $clr-parrot;
            transform: translateY(-10px);
        }
    }
}

.footer_bottom {
    border-top: 1px solid #fff;
    padding: 10px;
    margin: 30px 0;

    p {

        text-align: center;

        a {
            color: #fff;

            &:hover {
                color: $clr-parrot;
            }
        }
    }
}

/*footer-css-end*/

/*cookie start*/
.cookie-alert {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    margin: 0 !important;
    z-index: 999;
    opacity: 0;
    transform: translateY(100%);
    transition: all 500ms ease-out;
    left: 0;
}

.cookie-alert.show {
    opacity: 1;
    transform: translateY(0%);
    transition-delay: 1000ms;
}

.card-body {
    h4 {
        color: $clr-blue;
        font-size: 25px;
    }
}

a.btn.btn-primary.accept-cookies {
    background: $clr-blue;
    padding: 6px 22px;
    font-size: 20px;
    border: 1px solid $clr-blue;

    &:hover {
        background-color: transparent;
        border: 1px solid $clr-blue;
        color: $clr-blue;
    }
}

/*cookie end*/

/*privacy-css-end*/
section.privacy {
    background-image: url(../images/privacybanner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.55);
        height: 450px;
    }
}

.content-wrap {
    h3 {
        font-size: 25px;
        color: $clr-blue;
    }

    p {
        font-size: 16px;
        font-weight: 400;
        color: $clr-black;
    }

    li {
        font-family: 'Varta';
    }
}

section.privacy-policy {
    padding: 50px 0;
}

/*privacy-css-end*/


/*terms-css-start*/
section.terms {
    background-image: url(../images/termsbanner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.55);
        height: 450px;
    }
}

section.termstext {
    padding: 50px 0;
}

/*terms-css-end*/


/*About-css-start*/
section.about {
    background-image: url(../images/Aboutbanner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.55);
        height: 450px;
    }
}

.about-text {
    background: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -118px;
    width: calc(100% + 118px);
    margin-top: 70px;
}

.about-picture img {
    width: 100%;
    max-width: 100%;
    height: 450px;
    object-fit: cover;
}

section.joins {
    text-align: center;
    max-width: 50%;
    margin: 0 auto;
}

.jointext.disclaimer {
    padding-bottom: 40px;
}

/*contact-css-start*/

.contact {
    &__content {
        span {
            color: $clr-blue;
            font-size: 18px;
        }
    }
}

.about_us_content {
    background-color: $clr-white;
    padding: 2rem;
    width: 100%;
    max-width: 50%;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 2rem;
}

.input-control {
    display: block;
    width: 100%;
    height: 4rem;
    border: 1px solid $clr-blue;
    padding: 2rem 2rem;
    background: transparent;
    color: $clr-black;
}

textarea.input-control {
    resize: none;
    height: auto;
}

.form-group .submit-btn {
    background: transparent;
    border: 1px solid $clr-blue;
    transition: all 0.2s linear;
    display: inline-block;
    padding: 0.8rem 4rem;
    color: $clr-white;
    text-transform: capitalize;

    &:hover {
        background-color: $clr-blue;
    }
}

.input-control:focus-visible {
    outline: none;
}

.form-group label {
    display: inline-block;
    padding-bottom: 5px;
    color: $clr-blue;
    transition: all 0.2s linear;
    text-transform: capitalize;
}

button.submit-btn {
    color: $clr-blue !important;

    &:hover {
        background-color: $clr-blue;
        color: $clr-white !important;
    }

}

/*contact-css-end*/
/*About-css-end*/

/*Hotels-css-start*/
section.hotels {
    background-image: url(../images/hotelsbanner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.55);
        height: 450px;
    }
}

section.hotelstext {
    padding: 50px 0;
}

.casino-hotels-wrapper {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: #fff;
    margin-bottom: 30px;
    border-radius: 6px;
    transition: all 0.3s;
    padding: 20px;
}

.casino-hotels-wrapper .row {
    align-items: center;
}

.casino-hotels-wrapper .casino-btn {
    text-align: center;
}



.casino-hotels-wrapper .casino-text {
    text-align: center;
}


.casino-hotels-wrapper .casino-text h3 {
    color: $clr-blue;
    font-size: 26px;
}

.casino-hotels-wrapper .casino-text p {
    font-size: 16px;

}

.casino-hotels-wrapper .casino-img figure img {
    height: 216px;
    object-fit: cover;
    border-radius: 6px;
}

.casino {
    padding-bottom: 80px;
}

/*Hotels-css-end*/

/*Casino-css-start*/
section.casinobanner {
    background-image: url(../images/casinobanner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.55);
        height: 450px;
    }
}

section.attractioncard {
    padding: 30px 0;
}

.equal {
    display: -webkit-flex;
}

section.homecard {
    padding: 50px 0;
}

section.homecard.cuisine {
    padding: 20px 0 0 0;
}


.end__content {
    padding: 50px 0;

    p {
        font-size: 16px;
        line-height: 25px;
        color: $clr-black;
        margin-top: 10px;
    }

    h3 {
        font-size: 20px;
        line-height: 32px;
    }
}

.homemain__part {
    h3 {
        margin-bottom: 10px;
        color: $clr-blue;
        font-size: 26px;
    }

    p {
        font-size: 16px;
        line-height: 25px;
        position: relative;

        &::before {
            position: absolute;
            content: '';
            inset: 0;
            background-color: $clr-blue;
            height: 7px;
            width: 7px;
            border-radius: 10px;
            top: 10px;
            left: -15px;

        }
    }
}

.homemain {
    &__picture {
        img {
            height: 400px;
            object-fit: cover;
            max-width: 560px;
            border-radius: 8px;
            width: 100%;
            transition: all .3s linear;
        }
    }

    &__part {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
}

/*Casino-css-end*/

/*Cuisine-css-start*/
section.cuisine {
    background-image: url(../images/cuisinebanner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.55);
        height: 450px;
    }
}

.casino-btn a {
    background-color: #004471;
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 11px 44px;
    display: inline-block;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    border: 1px solid;

    &:hover {
        background-color: $clr-parrot;
        border: 1px solid $clr-parrot;
    }
}

.col-lg-4.col-md-6.col-sm-12.space {
    margin-top: 30px;
}

.slovernia__card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    height: 100%;
    transition: all 0.3s;
}

.slovernia__destinations {
    height: 100%;
}

.slovernia__destinations img {
    width: 100%;
    height: 303px;
    object-fit: cover;
}

.Slovenia__content {
    padding: 20px 20px;

    h3 {
        color: $clr-blue;
        font-size: 23px;
        font-weight: 600;
    }

    p {
        font-size: 16px;
        line-height: 23px;
        text-align: justify;
    }
}

/*Cuisine-css-end*/

/*adventure-css-start*/
section.adventure {
    background-image: url(../images/adventurebanner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.55);
        height: 450px;
    }
}

.adventurous_main .row {
    row-gap: 50px;
    align-items: center;
}

.adventurous_left {
    overflow: hidden;
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;

    a {
        height: 100%;
        width: 100%;
        display: block;
    }
}

img.img-fluid.boutiquepic {
    border-radius: 0;
}

.adventurous_left img {
    border-radius: 6px;
    transition: all 0.3s ease;
    width: 100%;
    object-fit: cover;
    object-position: top;
    height: 350px;
}

.adventurous_right.adventurous_flex.adventurous_space.shadow {
    background: rgba(255, 255, 255, 0.9);
    border: 3px solid #fff;
    border-radius: 4px;
    z-index: 9;
    position: relative;
    margin: 0;
    width: calc(100% + 150px);
    margin-left: -150px;
}

.adventurous_space {
    padding-left: 44px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.adventurous_flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.adventurous_right h3 a {
    padding-bottom: 18px;
    display: block;
    color: #031a29;
    font-weight: 500;
    font-size: 24px;
}

.adventurous_space p {
    margin-bottom: 25px;
    font-size: 17px;
    line-height: 26PX;
}

.adventurous_main {
    padding: 0 0 50px 0;
}

/*adventure-css-end*/

/*entertainment-css-start*/
section.entertainment {
    background-image: url(../images/entertainmentbanner.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.55);
        height: 450px;
    }
}

/*entertainment-css-end*/

/*# sourceMappingURL=style.css.map */